<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/White.Theme.CourseFitApp"
        tools:targetApi="31">
        <activity
            android:name=".ResultHistory"
            android:exported="true" />
        <activity
            android:name=".bahagianF"
            android:exported="false" />
        <activity
            android:name=".bahagianE"
            android:exported="false" />
        <activity
            android:name=".bahagianD"
            android:exported="false" />
        <activity
            android:name=".bahagianC"
            android:exported="false" />
        <activity
            android:name=".results"
            android:exported="true" />
        <activity
            android:name=".bahagianB"
            android:exported="false" />
        <activity
            android:name=".bahagianA"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".SignupPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>